:root {
    --bg-gray: hsl(0, 0%, 97%);
    --bg-gray-dark: hsl(0, 0%, 95%);
    --sucess: hsl(131, 62%, 67%);
    --border-sucess: hsl(132, 49%, 53%);
    --border-gray: hsl(0, 0%, 87%);
    --border-blue: hsl(220, 63%, 57%);
    --bg-dark: hsl(0, 0%, 12%);
    --bg-dark-min: hsl(63, %4, %20);
    --white-text: hsl(0, 100%, 100%);
    --black-text: hsl(0, 0%, 0%);
    --button-dark-bg: hsl(0, 0%, 21%);
    --button-dark-ac: hsl(0, 0%, 31%);
    --button-dark-border: hsl(0, 0%, 25%);
    --button-dark-selected: hsl(11, 90%, 68%);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.header {
    background-color: #5606FF;
    height: 60px;
}

.header .title {
    color: white;
}

.flex {
    display: flex;
    flex-flow: column;
    justify-content: unset;
    align-items: center;
}

.info {
    height: 10%;
    width: 50%;
    padding: 10px;
    text-align: justify;
    font-size: 1em;
    background-color: var(--sucess);
    border: 1px solid var(--border-sucess);
    margin: 20px;
}

.info .title {
    padding-left: 20px;
    padding-right: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
    background-color: var(--bg-gray);
    border: 1px solid var(--border-gray);
    margin-top: 20px;
}

.wrapper .label {
    font-size: 1.5em;
    margin-right: 10px;
}

.wrapper .input {
    height: 35px;
    border: 1px solid var(--border-blue);
}

.element-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.button-list {
    justify-content: left;
    width: 50%;
    height: 50px;
}

.button {
    height: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-right: 1px solid var(--border-gray);
    cursor: pointer;
}

.button-list .active {
    border-bottom: 4px solid var(--border-blue);
    background-color: #fff;
    transition: 0.2s border;
}

.btn-border {
    border: 1px solid var(--border-gray);
}

.button-list .button-dark {
    color: white;
    background-color: var(--button-dark-bg);
    border-right: 1px solid var(--button-dark-border);
}

.button-list .button-dark-active {
    background-color: var(--button-dark-ac);
    border-right: 1px solid var(--button-dark-border);
    border-bottom: 4px solid var(--button-dark-selected);
    transition: 0.2s border;
    color: var(--white-text);
}

.wrapper {
    max-height: 400px;
    height: 60px;
    margin: 0;
    border-top: 0px;
    transition: 0.5s height;
}

.wrapper-400 {
    height: 350px;
    transition: .5s height;
}

#colorElement {
    border: 2px solid var(--border-gray);
    width: 512px;
    height: 512px;
    line-height: 512px;
    text-align: center;
    border-radius: 100%;
    font-size: 30px;
    background-color: var(--bg-gray);
}

.insertedWrapper {
    width: 100%;
    height: 100%;
}

.about {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.about .about-title {
    margin: 10px 0px 10px 0px;
}

.about .about-p {
    width: 100%;
    text-align: justify;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.about .about-list {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    width: 80%;
    list-style: none;
    background-color: var(--sucess);
}

.about-list .about-li {
    margin: 0px 10px 0px 10px;
}

.about-list .about-a {
    text-decoration: none;
    color: var(--bg-dark);
    padding: 10px;
}

.about-list .about-a:hover {
    background-color: var(--border-sucess);
    padding: 10px;
}

.dark-bg {
    background-color: var(--bg-dark);
}

.dark-min-bg {
    background-color: #404040;
    border: 1px solid #505050;
    color: white;
}

.chb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: var(--border-blue);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}